.root{
  composes: absolute from '../common.scss';
  position: fixed;
  background: #000000aa;
}
.photoroot{
  width: 100vw;
  height: 100vh;
  position: relative;
  overflow: hidden;
}

.mainimg{
  composes: absolute from '../common.scss';
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.miniview{
  position: absolute;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  right: 10px;
  bottom: 10px;
  width: 15%;
  height: 15%;
  left: auto;
  top: auto;
  transition: all 0.3s;
}

.minirec{
  position: absolute;
  border: #fff5 1px solid;
  width: 15%;
  height: 15%;
}

.minicollection{
  position: absolute;
  width: 100%;
  height: 90px;
  bottom: 10px;
  left: 0;
  text-align: center;
  --size: 80px;
}
.itemcollection{
  display: inline-block;
  width: var(--size);
  height: var(--size);
  margin: 4px;
  background-size: cover;
  background-position: center;
}