.root{
  composes: absolute from '../common.scss';
  position: fixed;
  background: #000000aa;
}
.photoroot{

}

.mainimg{
  composes: absolute from '../common.scss';
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}