.root{
  composes: absolute from '../common.scss';
  position: fixed;
  background: #000000aa;
}
.photoroot{

}

.mainimg{
  composes: absolute from '../common.scss';
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.miniview{
  position: absolute;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  right: 10px;
  bottom: 10px;
  width: 15%;
  height: 15%;
  left: auto;
  top: auto;
  transition: all 0.3s;
}

.minirec{
  position: absolute;
  border: #fff5 1px solid;
  width: 15%;
  height: 15%;
}
