
// .form{
//   max-width : 1100px;
//   margin: 0 auto;
//   text-align: left;
//   padding:  20px;
//   align-items: flex-start;
// }
.small{
  font-size: 0.9em;  
}

.inputcon{

}
.helpcon{
  align-self: flex-end;
}

.tooltipicon{
  margin: -0.3em -0.3em -0.1em;
}


