.root{
  composes : fullwidth from '../pages/common.scss';
  display:block;
  margin: 0 auto;
  margin-top : -4em;
  padding-top: 4em;
  background: #fff;
}
.container{
  max-width: 1370px;
  margin: 0 auto;
  a{
    font-weight: 600;
    line-height: 1.7em;
  }
  @media (max-width : 960px) {
    .col{
      max-width: 600px;
    }
    .social,.logo{
      text-align: center;
    }
  }
}

