.container{
  composes : superbigtitle from '../common.scss';
}

.dowloadarea{
  vertical-align: middle;
  >*{
    margin-top: 0.8em;
    margin-right: 0.8em;
  }

  .lang,img{
    font-size: 0.9em;
    vertical-align: middle;
    padding: 0.1em 1.2em 0.1em 0.2em;
    max-height: 2.7em;
  }
  img{
    width: auto;
    padding: 0 1.2em 0 0;
  }
  .lang{
    max-height: 2.9em;
    border-radius: 100px;
  }
}
@media (max-width : 500px){
  .nope{
    display: none;
  }
}