
.container{
  max-width: 1300px;
  h2{
    padding-right: 2em;
  }
}
.video{
  composes: absolute from '../common.scss';
  background-position: center;
  background-size: cover;
}
.items{
  white-space: nowrap;
  overflow: auto;
}
.item{
  width: calc(25% - 1em);
  padding-top: calc(25% - 1em);
  background-color: #000;
  display: inline-block;
  margin: 0.5em;
  position: relative;
  box-shadow: 2px 2px 3px rgba(0,0,0,0.5);
  transition:  box-shadow 0.3s;
  img{
    object-fit: cover;
  }
  &[data-active='true']{
    box-shadow: 7px 7px 7px rgba(0,0,0,0.5);
  }
  @media (max-width : 600px) {
    width: calc(25% - 2.6666vw);
    padding-top: calc(25% - 2.6666vw);
    margin: 1.3333vw;
    &[data-active='true']{
      box-shadow: 3px 3px 3px rgba(0,0,0,0.5);
    }
  }
}

.videos{
  position: relative;
  h3{
    text-align: center;
  }
}

.andy{
  max-width: 3.5em;
  border-radius: 50%;
  position: absolute;
  top : -0.75em;
  right: 0;
}