$color_1: #444;
.root{
  background-color: #eee;
  composes: fullwidth from '../common.scss';

}
.container{
}
.search {
	display: block;
	font-style: italic;
	&::placeholder {
		font-style: italic;
	}
}

.item{
  padding: 0 3.3em; 
  background: #fff;
  position: relative;
  margin : 1.7em 0;
  border-radius: 50px;
  padding: 40px 50px;
  @media screen and (max-width : 700px){
    padding: 7vw;
  }
}

.question{
  margin : 0.4em 0;
  font-size: 1.3em;
  &:before{
    content : "?";
    background-color: #6817ff;
    color: #fff;
    padding: 0 0.45em; 
    font-size: 1.2em;
    border-radius: 100px;
    margin: 0 0.5em;
  }
}

.anwser{
  margin : 0;
  white-space: pre-line;
}

// .Q,.plus{
//   position: absolute;;
//   font-size: 2em;
//   font-weight: 800;
//   padding: 0.1em 0.4em;
//   line-height: 1;
//   text-align: center;
// }

// .Q{
//   left: 0;
// }

// .plus{
//   font-size: 2.3em;
//   right: 0;
//   cursor: pointer;
//   font-family: monospace;
//   &:after{
//     content: '+';
//   }
// }
.item.expand .anwser{
  display: block;
}
.item.expand .plus:after{
  content: '-';
}

.more{
  font-size: 1.2em;
  text-align: center;
  padding-top: 3em;
  padding-bottom: 3em;
}
.item p{
  font-size: 15px;
}

@media (max-width: 400px){
  .item p{
    font-size: 3.75vw;
  }
}
