

.container{
  >*{
    display: inline-block;
    width: calc(23% - 1em);
    margin: 0.5em;
    vertical-align: top;
  }
  >h2{
    width: calc(31% - 1em);
  }
  @media (max-width : 900px) {
    >.item{
      width: calc(33.33% - 1em);
      padding-top: calc(#{1.2 *  33%} - #{1.2 * 1em});
    }
    >h2{
      width: 100%;
      margin: 0.5em 0em;
    }
  }
  @media (max-width : 500px) {
    >.item{
      width: calc(50% - 1em);
      padding-top: calc(#{1.2 * 50%} - #{1.2 * 1em});
    }
  }
}

.item{
  composes: blackbut from '../common.scss';
  padding-top: calc(#{1.2 *  25%} - #{1.2 * 1em}) !important;
  // background-color: #000;
  position: relative;
  font-size: 0.9em;
  // background-size: contain;
  // background-position: center;
  // background-repeat: no-repeat;
  &:nth-child(2) .badge{
    background-color: #f11;
  }
  &:nth-child(3) .badge{
    background-color: rgb(17, 37, 255);
  }
  &:nth-child(4) .badge{
    background-color: rgb(199, 17, 255);
  } 
}


.badge{
  position: absolute;
  border-radius: 100px;
  color: #fff;
  padding: 0.4em 1em;
  top : 1em;
  left : 1em;
  font-weight: 700;
}
.des{
  position: absolute;
  bottom: 1.2em;
  left: 1.2em;;
  right: 1.2em;;
  color : #fff;

}
