

.container{
  display: block;
}



.image{
  width: 100%;
}

.phonevideo{
  composes : absolute from '../common.scss';
  left: 13.4%;
  top: 11.8%;
  width: 73.2%;
  height: 73.1%;
  object-fit: fill;
  overflow: hidden;
  border-radius: 2.8% / 1.9%;
}

.box{
  width: 92%;
  padding-top: 92%;
  margin: 0.5em auto;
  position: relative; 
  background: #f6f5f5;
  overflow: hidden;
  composes: hover-shadow from '../common.scss';
  >img{
    position: absolute;
    left: 25%;
    width: 50%;
    top:20%;
    height: 60%;
    object-fit: contain;
  }
}
.hovercontent{
  composes: absolute centercontent showonhover from '../common.scss';  
  background-color: rgba(255,255,255,0.90);
  color: #000;
  padding: 1em;
  b{
    font-size: 1em;
    color : #7e20ce;
  }
  p{
  }
}

.root{
  composes: supperbg from '../common.scss';
  margin-top: 10vw !important;
  h2{
    color: #000;
  }
  p big{
    line-height: 1.1;
    font-size: 2.4em;
    font-weight: 200;
  }
  h2:after{
    background-color: rgba(255, 255, 255, 0.66);
  }
}