
.root{
  composes : supperbg from '../common.scss';
  margin-top: calc(17vw) !important;
  margin-bottom: 13vw !important;
  color: #000;
  &:before{
    top:calc(4em + 10vw);
    height: calc(100% + 5vw);
    background: #8120d3;
    // transform: skewY(0);
  }
}


.prods{
  max-width: 1100px;
  position: relative;
  margin: 0 auto;
  display: block;
  margin-top: calc(2em + 3vw) ;
  @media (max-width : 700px) {
    max-width: 600px;
  }
}
.platf{
  display: inline-block;
  width: calc(33.3% - 5vw);
  max-height: 0;
  position: relative;
  padding-top: calc(33.3% - 5vw); 
  margin : 2.5vw;
  border-radius: 50%;
  overflow: hidden;
  transition: background-color 0.3s, transform 0.3s;
  background-color: rgba(255,255,255,0.95);
  &:hover{
    box-shadow: 0 0 15px rgba(0,0,0,0.5);
    background-color: rgba(255,255,255,0.80);
    transform: scale(1.05);
  }
  >span{
    span span{
      background-color: #8120d3;
    }
  }
  @media (max-width : 1050px) {
    font-size: 1.52vw;
  }

  @media (max-width : 700px) {
    width: calc(50% - 5vw);
    padding-top: calc(50% - 5vw); 
    font-size: 13px;
  }
  @media (max-width : 570px) {
    font-size: 2.7vw;
  }
  // @media (max-width : 400px) {
  //   width: calc(80% - 5vw);
  //   padding-top: calc(80% - 2.5vw); 
  //   font-size: 3vw;
  // }
}
.img{
  composes : absolute from '../common.scss';
  height: 36%;
  width: 36%;
  left : 32%;
  top : 20%;
  border-radius: 20%;
  overflow: hidden;
  background-color: gray;
}
.title{
  color: #fff;
  background: #343232;
  position: absolute;
  left: 15%;
  right: 15%;
  bottom: 23%;
  height: 2em;
  text-align: center;
  padding: 0.3em 0;
  border-radius: 100px;
  font-weight: 700;
}
.link{

}