
.grid{
	display: grid;
  grid-template-columns: repeat(auto-fill, minmax(190px, 1fr));;
	grid-gap: 10px;
	align-items: center;	
	@media (max-width : 500px) {
		grid-template-columns: repeat(2, 1fr);;
	}
	a{
		display: inline-block;
	}
	img{
		width: 80%;
		margin: 20px auto;
		display: block;
		max-width: 300px;
		max-height: 200px;
		@media (max-width : 500px) {
			margin: 10px auto;
		}
	}
}