.root{
  composes: fullwidth from '../common.scss';
  background-color: #f6f3fa;

}
.container{
  // max-width: 1300px;
  >*{
    user-select: none;
  }
}

.presscontainer{
  white-space: nowrap;
  padding-top: 4em;
  padding-bottom: 3em;
  pointer-events: none;
  position: relative;
}


.presscontainer{
  transition: transform 0.3s,opacity 0.3s;
  &:hover .pressitem{
    --translate1:-0.7em;
  }
  .pressitem:hover{
    --translate1:0em;
  }  
  .pressitem:hover ~ .pressitem{
    --translate1:0.7em;
  }

  &:hover .pressitem[data-state="0"]{
    --scale2:0.98;
  }
}

.pressitem{
  --scale1:1;
  --scale2:1;
  --translate1: 0em;
  --translate2: 0em;
  transform:  translateX(var(--translate1))  translateX(var(--translate2)) scale(var(--scale1))  scale(var(--scale2));
  transform-origin: 50% 70%;
  transition: transform 0.3s, opacity 0.3s;
  will-change: transform;
  pointer-events: all;
  &:hover{
    --scale1:1.1;
    --translate1:1.5em;
  }

  &[data-state="-1"]{
    --translate2: -2.4em;
  }
  &[data-state="0"]{
    z-index: 10;
    --scale1:1.5;
    --translate2: 0em;
    &:hover{
      --scale1:1.6
    };
  }
  &[data-state="1"] {
    --translate2: 2.4em;
  }
}

.pressitem{
  position: relative; 
  background: #fff;
  width: calc(20% - 1em);
  padding-top: calc(20% - 1em);
  margin: 0.5em;
  display: inline-block;
  cursor: pointer;
  >*{
    position: absolute;
  }
  @media (max-width : 1300px) {
    font-size: 1.23vw;
  }
  @media (max-width : 900px) {
    width: calc(33.3333% - 1em);
    padding-top: calc(33.3333% - 1em);
    font-size: 1.23vw * 5 / 3;
  }
  @media (max-width : 500px) {
    width: calc(40% - 1em);
    padding-top: calc(40% - 1em);
    font-size: 1.23vw * 5 / 2.5;
  }
}

.pressinfo{
  height: 50%;
  bottom : 0;
  left: 0;
  right: 0;  
  background: #000;
  color: #fff;
  padding: 0.7em 1em;
  white-space: pre-line;
  font-size: 0.9em;
  &:hover{
    text-decoration: underline;
  }
}
.presslogo{
  height: 50%;
  top : 0;
  left: 0;
  width: 100%;
  object-fit: contain;
}

.button{
  > *{
    position: absolute;
    font-size: 3em;
    background-color: #8027fe;
    color: #fff;
    top : 50%;
    line-height: 0;
    cursor: pointer;
    border-radius: 50%
  }
  [data-prev]{
    left: 0.5em;
  }
  [data-next]{
    right: 0.5em;
  }
}